@{
    ViewBag.Title = "CRUD de prueba";
}

<div class="jumbotron">
    <img src="https://git.sofka.com.co/uploads/-/system/appearance/logo/1/_Logo_SOFKA.png"width="200">
    <h1>CRUD de prueba</h1>
    <p class="lead">Esta es una CRUD de prueba para aprender sobre .NET framework</p>
    <p><a href="https://www.sofka.com.co/es/" class="btn btn-primary btn-lg">Prueba botón &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Usuario","Index","usuarios")</h2>
        <p>Acá podemos crear un usuario.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Producto", "Index", "productoes")</h2>
        <p>Acá podemos registrar un producto.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Venta", "Index", "usuario_producto")</h2>
        <p>Acá podemos asociar un usuario a un producto</p>
    </div>
</div>